$colors:(
    whiteColor:#ffffff, 
    lightenBgColor:#fbfaf8,
    grey01:#272728,
    grey02:#393939,
    grey03:#526061,
    grey04:#f4f6fb,
    grey05:#e8ecf3,
    grey06:#cad0d8,
    grey07:#171c1b,
    grey08:#eaeef5,
    grey09:#b1b9bc,
    darkGreen: #006a4d,
    red:#e13e3e,
    lightGreen:#6dd400,
    lightGreen02:#4cbe7f,
    black: #000000,
)



