.top_Title {
    &.top_Title2 {
        padding: 0px 20px 0 0px;
        display: flex;
        align-items: center;
        position: inherit;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid map-get($colors , grey12 );
        h2 {
            color: map-get($colors , lightGreen03 );
            font-size: 13px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 5px 0 5px;
            position: relative;
            padding-left: 15px;
            line-height: 30px;
            &:before{
                background: map-get($colors , lightGreen03 );
                width: 4px;
            }
        }
        h3 {
            color: map-get($colors , lightGreen03 );
            font-size: 13px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 5px 0 5px;
            line-height: 30px; 
        }
    }
}

.table-grid-wrap {
    &.price-sumry {
        &.home_screen_table {
            tr {
                border-bottom: 1px solid map-get($colors , grey12 );
                background: map-get($colors , whiteColor );
            }
            th {
                border: 0;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                padding: 15px 15px 11px 15px;
            }
            td {
                border: 0;
                padding: 15px 15px 11px 15px;
                font-size: 12px;
            }
        }
    }
}

.table-row-no-pending-actions {
    text-align: center;
    display: block;
    padding: 10px 0;
    background: map-get($colors, whiteColor );
    svg {
        margin-right: 5px;
    }
}

.dashboard_bts {
    a {
        @include xsScreen {
            width: calc(100% - 38px);
        }
    }
}
.status_design {
    padding: 2px 10px !important;
    border-radius: 50px;
    border: 1px solid transparent;
}

.status_draft {
    background-color: #006A4D;
    color: white;
}
.status_approved {
    background-color: #69BE28;
    color: white;
}
.status_pending {
    background-color: #F58220;
    color: white;
}
.status_responseawaited {
    background-color: #FFDD00;
    color: white;
}

/*pie chart styling here!..*/
.pie_chart_wrap {
    background: #fff;
    padding: 60px 0px;
    @include mdScreen {
        padding: 30px 0px;
    }
    .pie-chart-inner {
        @include mdScreen {
            height: 100%;
        }
        .MuiGrid-grid-md-12 {
            @include mdScreen {
                display: flex;
                align-items: center;
            }
        }
    }
}
.info_block {
    padding: 0 15px;

    .heading-bar {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            color: #333;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 26px 0 0 0;

        @include mdScreen {
            padding: 10px 0 0 0;
        }

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #A9B2B5;
            color: #333;
            font-size: 14px;
            padding: 10px 0 8px 0;

            .legend-state {
                position: relative;
                padding-left: 23px;

                i {
                    width: 18px;
                    height: 18px;
                    background: transparent;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    left: 0
                }
            }
        }
    }
}
