/*pipeline page*/
.top_Title {
    background: #fff;
    padding: 5px 20px 5px 15px;
    border-bottom: solid 1px #CAD0D8;
    border-radius: 5px 5px 0 0;
    position: relative;
    margin-top: 30px;

    @include mdScreen {
        padding: 6px 20px 5px 15px;
        border: 0;
    }

    h2 {
        color: #006a4d;
        font-size: 26px;
        margin-bottom: 0;

        &:before {
            content: '';
            position: absolute;
            height: 30px;
            width: 5px;
            background: #006a4d;
            left: 0px;

            @include mdScreen {
                width: 0;
            }
        }

        @include mdScreen {
            margin-bottom: 0;
            font-size: 22px;
        }
    }

    span {
        button {
            padding: 6px 25px 3px;
            border-width: 1px !important;
            min-width: auto;
            background: transparent;
            color: #006a4d;
            border-radius: 5px;
        }
    }
}


.table-grid-wrap {
    overflow-x: auto;
    th {
        border: solid 1px #cad0d8;
        background: map-get($colors , whiteColor );
        position: relative;
        svg {
            @include transition(all ease 0.3s);
            font-size: 18px;
            position: absolute;
            padding-left: 5px;
            display: inline-block;
            right: 4px;
            height: 100%;
            top: 0;
            &:before {
                top: 38%;
                position: relative;
            }
            &.active {
                color: map-get($colors , darkGreen );
                @include transform(rotate(-180deg));
            }
        }
    }
    tbody {
        tr {
            cursor: pointer;
            &:nth-of-type(odd){
                background-color: map-get($colors , grey11 );
                @include mdScreen {
                    background-color: map-get($colors , whiteColor );
                }
            }
            &:nth-of-type(even){
                background-color: map-get($colors , whiteColor );
            }
        }
    }
    &.price-sumry {
        margin-top: 0;
        .price-table {
            td {
                background-color: transparent;
                &:first-child {
                    font-weight: 400;
                }
            }
        }
        table {
            th {
                padding: 5px 22px 5px 15px;
                border-top: 0;
                min-width: 110px;
            }
        }
    }
}
/*pipeline filters styling*/
.filters_outer {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    .top_Title {
        border-bottom: 0;
    }
    h2 {
        padding-top: 4px;
    }
    span {
        button {
            &.active {
                background: #69BE28;
                color: #fff;
                border-color: #69BE28;
            }
            background: #006a4d;
            color: #fff;
            border-color: #006a4d;
            font-size: 16px;
            font-weight: 400;
            margin-right: 0;
            padding: 6px 15px 3px;
            transition: all 0.2s ease-in-out;
            i {
                padding-left: 10px;
                @include mdScreen {
                    padding-left: 0;
                }
            }
        }
    }
    .filters_inner {
        background: #fbfbfb;
        border: 1px solid #E8ECF3;
        border-radius: 5px;
        margin-top: 8px;
        position: relative;
        &.active {
            display: block;
        }
        &.deactive {
           display: none;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
            border-top: 0;
        }
        &:before {
            border-bottom-color: #E8ECF3;
            top: -10px;
            right: 68px;
            border-width: 10px;
            border-right-width: 9px;
            border-left-width: 10px;
            @include mdScreen {
                right: 35px;
            }
        }&:after {
            top: -8px;
            right: 69px;
            display: inline-block;
            border-bottom-color: #fbfbfb;
            border-width: 8px;
            border-right-width: 8px;
            border-left-width: 8px;
            @include mdScreen {
                right: 36px;
            }
        }
        .inner_content {
            padding: 30px 30px 30px 30px;
            border-right: 1px solid #E8ECF3;
            height: 100%;
            border-bottom: 1px solid #E8ECF3;
            @include lgScreen {
                padding: 20px 20px 20px 20px;
            }
            @include mdScreen {
                border-right: 0;
            }
            @include smScreen {
                padding: 15px 15px 15px 15px;
            }
            .form-group {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .select-wrapper {
                &:before {
                    right: 10px;
                }
            }
            select {
                &.form-control {
                    max-width: 100%;
                }
            }
        }
        .col-lg-3 {
            &:last-child {
                .inner_content {
                    border-right: 0;
                }
            }
        }
        .two-side-btn {
            padding-right: 20px;
            @include smScreen {
                padding-right: 7px;
            }
            @include xsScreen {
                padding-right: 0;
            }
        }
        .range-date {
            .cal_icon {
                margin-bottom: 10px;
                display: block;
            }
        }
        .cal_icon {
            position: relative;
            .form-control {
                padding-right: 0px;
                margin-right: 0;
                padding-left: 0;
                text-align: center;
                width: 30%;
                &:nth-child(1) {
                    border-radius: 5px 0px 0px 5px;
                }
                &:nth-child(2) {
                    border-radius: 0;
                    border-left: 0;
                    border-right: 0;
                }
                &:nth-child(3) {
                    border-radius: 0 5px 5px 0;
                }
            }
            img {
                position: relative;
                right: -10px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

