.sub_head {
    text-transform: uppercase;
    color: map-get($colors, darkGreen);
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}
.table.cost {max-width: 550px;}
.table th {
    color: map-get($colors, darkGreen02);
    border-top: 0;
    border-width:1px;
    border-bottom-width:0; 
    border-color:transparent; 
    padding: 0.25rem;
    font-size: 13px;
}
.table td {
    background-color: map-get($colors, green_td);
    border: solid 1px map-get($colors ,table_brdr);
    border-top-color: map-get($colors ,table_brdr);
    padding: 0.25rem;
    font-size: 13px;
}

#accordion{
    a {
        color: map-get($colors , grey07)
    }
}
.card {
    border: 0; 
    margin-bottom: 8px;
    background-color: map-get($colors , grey05);
    button[type="button"] {
        min-width: auto;
        padding: 6px 15px;
    }
}
.card-header {
    background-color: map-get($colors , grey05);
    border: 0;
    padding: 10px 22px 5px 20px;
    position: relative;
    cursor: pointer;
    &:before {
        display: block;
        position: absolute;
        content: '';
        background-color: map-get($colors, lightGreen02);
        width: 3px;
        left: 0;
        height: 26px;
    }
    span {
        &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            @include transform (rotate(45deg));
            border-top: 0;
            border-left: 0;
            border-bottom: 2px solid map-get($colors , darkGreen );
            border-right: 2px solid map-get($colors , darkGreen );
            @include transition(all ease 0.3s);
            right: 23px;
            top: 16px;
        }
        &.active {
            &:before {
                @include transform (rotate(180deg));
            }
        }
    }
    svg {
        font-size: 22px;
         float: right;  
         color: map-get($colors , darkGreen );
         position: absolute;
         right: 20px;
         top: 0;
         bottom: 0;
         margin: auto 0;
         display: none;
         &.active {
            @include transition(all ease 0.2s);
            @include transform(rotate(180deg));
         }      
    }
    &.collapsed .fa-angle-up:before {
        content: "\f107" !important;
    }
    // &:after {
    //     font-family: "Font Awesome 5 Pro";
    //     display: block;
    //     position: absolute;
    //     content: "\f107";
    //     background-color: map-get($colors, lightGreen02);
    //     width: 3px;
    //     left: 0;
    //     height: 21px;
    // }
    .card-link {
        font-size: 22px;
        color: map-get($colors , grey01 );
        line-height: 30px;
        @include smScreen {
            font-size: 18px;
        }
    }
}
.card-body {
    border-top: 1px solid map-get($colors , grey06 );
    padding-top: 15px;
    .table {
        th {
            background-color: map-get($colors, Green03);
            color: map-get($colors, grey03);
            font-weight: 600;
            padding: 5px;
            font-size: 12px;
        }
        tr:first-child {
            td {
                font-size: 12px;
                width: 200px;
            }
        }
        td {
            font-size: 12px;
            border: 0;
            padding: 2px;
            font-weight: 500;
            background-color: transparent;
            &:first-child{
                white-space: nowrap;
                vertical-align: middle;
            }
            &:nth-child(3) input,&:nth-child(4) input{
                width: 70px;
            }
            &:nth-child(5) input,&:nth-child(6) input,&:nth-child(7) input{
                width: 85px;
            }
            &:last-child input{
                width:215px;
            }
            input {
                border: 0 !important; 
                border-radius: 0 !important;
                max-width: 100%;
                border-radius: 0.18rem !important;
                &:disabled {
                    background: map-get($colors , grey04 )
                }
            }
        }
    }
}
.ml-35 {margin-left: 35px;}

 button.btn-sm[type="submit"]{
    padding: 6px 25px 3px;

}
.saved_form {
    float: left !important;
    margin-left: -20px;
    margin-right: 10px;
    color: map-get($colors, lightGreen02);
    font-size: 25px !important;
    border-radius: 0;
    margin-top: -2px;
}
.hide
{
    display:none!important;
}
.show
{
    display:block!important;
}

form{
    &.preliminary-form-1 {
        .form-group {
            margin: 0;
            span {
                top: 5px !important;
                left: 4px !important;
                color: #495057;
                font-weight: 600;
            }
        }
        .form-control {
            padding: 7px 6px 6px;
        }
        .table-responsive {
            overflow-y: auto;
        }
        table {
            margin-bottom: 10px;
            input {
                width: 100% !important;
                @include lgScreen {
                    width: auto !important;
                }
                &:disabled+span {
                    color: rgb(169, 178, 181) !important;
                }
            }
            td {
                &:nth-child(3),
                &:nth-child(4){
                    width: 100px;
                }
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7){
                    width: 140px;
                }
                &:nth-child(2){
                    width: 180px;
                }
            }
        }
        .price-sumry {
            margin-bottom: 0;
        }
        .card-body {
            padding-bottom: 0;
        }
    }
}

.preliminary_btn {
    margin-right: 14px;
    margin-bottom: 12px;
    margin-top: 5px;
}

.tick_wrap {
    background: map-get($colors , lightGreen02 );
    position: absolute;
    z-index: 1;
    width: 26px;
    height: 26px;
    left: 0;
    svg {
        color: map-get($colors , whiteColor );
        height: 14px;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.p-l-43 {
    padding-left: 43px;
}
