/*Responsive Media Query*/
.wrapper {
  display: flex;
  align-items: stretch; }

/*topbar*/
.logo {
  padding: 14px 0; }

.topbar {
  background: #006a4d;
  height: 50px; }
  .topbar .logo {
    display: none; }
  .topbar .icons-blocks {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    text-align: right; }
    .topbar .icons-blocks li {
      display: inline-block;
      margin: 0 15px; }
      .topbar .icons-blocks li:nth-child(2) .badge {
        background: #e13e3e;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        padding: 0;
        position: absolute;
        top: 2px;
        right: -7px;
        display: block; }
      .topbar .icons-blocks li a {
        color: #ffffff;
        display: block;
        font-size: 14px;
        text-transform: capitalize;
        position: relative;
        background-color: transparent !important;
        border: 0; }
        .topbar .icons-blocks li a:after {
          border: 0; }
        .topbar .icons-blocks li a:hover {
          color: #ffffff; }
        .topbar .icons-blocks li a .down-arrow img {
          margin-left: 10px;
          transition: all ease .2s; }
          .topbar .icons-blocks li a .down-arrow img.active {
            transform: rotate(180deg); }

.dropdown-menu.user-dropdown {
  top: 6px !important;
  width: 275px;
  border-top: 5px solid #006a4d;
  border-radius: 0 0 5px 0;
  padding: 12px;
  box-shadow: 0px 1px 7px rgba(204, 204, 204, 0.86);
  border-right: 0;
  border-left: 0;
  border-bottom: 0; }
  .dropdown-menu.user-dropdown button {
    border: 1px solid #006a4d;
    background: transparent;
    color: #006a4d;
    border-radius: 3px;
    padding: 5px 15px;
    float: right;
    font-weight: 600; }
  .dropdown-menu.user-dropdown form {
    float: left;
    color: #737f80;
    width: 100%; }
    .dropdown-menu.user-dropdown form .form-control {
      font-size: 13px; }
    .dropdown-menu.user-dropdown form h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      padding-bottom: 10px;
      margin: 0; }
      .dropdown-menu.user-dropdown form h3 span {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; }

/*sidebar*/
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #272728;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: center left; }
  #sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); }
    @media only screen and (max-width: 767px) {
      #sidebar.active {
        margin-left: 0;
        transform: none; } }
  @media only screen and (max-width: 767px) {
    #sidebar {
      margin-left: -250px;
      transform: rotateY(100deg); } }
  #sidebar .sidebar-header {
    padding: 10px 0 30px 15px; }
  #sidebar .upload {
    background: #006a4d;
    padding: 10px 12px;
    font-size: 16px;
    text-transform: capitalize; }
    #sidebar .upload img {
      padding-right: 8px; }

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #fbfaf8; }
  #sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto; }
    @media only screen and (max-width: 767px) {
      #sidebarCollapse.active span {
        margin: 0 auto; } }
  #sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375); }
    #sidebarCollapse span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px); }
      @media only screen and (max-width: 767px) {
        #sidebarCollapse span:first-of-type {
          transform: rotate(45deg) translate(2px, 2px); } }
    #sidebarCollapse span:nth-of-type(2) {
      opacity: 0; }
      @media only screen and (max-width: 767px) {
        #sidebarCollapse span:nth-of-type(2) {
          opacity: 0; } }
    #sidebarCollapse span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px); }
      @media only screen and (max-width: 767px) {
        #sidebarCollapse span:last-of-type {
          transform: rotate(-45deg) translate(1px, -1px); } }

/*customer enquiry*/
.customer-enquiry {
  padding: 23px 0 0 35px;
  text-transform: capitalize; }
  @media only screen and (max-width: 767px) {
    .customer-enquiry {
      padding: 23px 0 0 0px; } }
  .customer-enquiry h1 {
    margin-bottom: 50px;
    margin-top: 31px;
    font-size: 38px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #171c1b; }
    @media only screen and (max-width: 767px) {
      .customer-enquiry h1 {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 30px; } }

/*media query*/
@media only screen and (max-width: 767px) {
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto; } }

body {
  background-color: #f4f6fb;
  font-family: 'Hind', sans-serif; }

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s; }

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #fbfaf8; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fbfaf8; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fbfaf8; }

form label {
  color: #526061;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600; }

form .form-control {
  border-radius: 0;
  border: 1px solid #e8ecf3;
  height: auto;
  padding: 10px;
  font-size: 13px;
  border-radius: 2px; }

form textarea {
  resize: none; }

form button {
  background: #f4f6fb;
  border: 1px solid #cad0d8;
  border-radius: 2px;
  color: #cad0d8;
  padding: 4px 25px;
  font-size: 13px;
  line-height: normal;
  margin-right: 8px; }
  form button.active {
    background: #4cbe7f;
    color: #ffffff;
    border: 1px solid #4cbe7f; }

form .select-wrapper {
  position: relative; }
  form .select-wrapper select.form-control {
    max-width: 285px;
    color: #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eaeef5;
    position: relative;
    border-radius: 6px;
    padding: 7px 10px;
    height: auto !important; }
  form .select-wrapper:after {
    content: '';
    position: absolute;
    background: url(../images/select-arrow.jpg) #fff;
    background-repeat: no-repeat;
    background-position: center right;
    width: 12px;
    height: 8px;
    right: calc(100% - 272px);
    top: 0;
    bottom: 0;
    margin: auto 0; }

form .form-check {
  position: relative; }
  form .form-check input[type="radio"] {
    opacity: 0; }
  form .form-check label {
    padding-left: 10px;
    color: #b1b9bc;
    cursor: pointer;
    margin-bottom: 7px !important; }
    form .form-check label:before {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 4px;
      left: 0;
      content: '';
      display: inline-block;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      border: 1px solid #b1b9bc;
      background: transparent;
      z-index: -1; }
  form .form-check input[type="radio"] {
    margin: 3px 0 0 -17px; }
    form .form-check input[type="radio"]:checked + label {
      color: #000000; }
      form .form-check input[type="radio"]:checked + label:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 4px;
        display: inline-block;
        font-size: 11px;
        width: 7px;
        height: 7px;
        background-color: #4cbe7f;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px; }
      form .form-check input[type="radio"]:checked + label:before {
        border: 1px solid #4cbe7f; }

button[type="submit"] {
  background-color: #006a4d;
  border: 0;
  font-weight: 600;
  padding: 15px 35px;
  font-size: 18px;
  letter-spacing: 2px; }
  @media only screen and (max-width: 767px) {
    button[type="submit"] {
      padding: 10px 20px;
      font-size: 16px; } }

.width-75 {
  max-width: 75px; }

.width-120 {
  max-width: 120px; }

.mx-35 {
  margin: 0 35px; }
  @media only screen and (max-width: 767px) {
    .mx-35 {
      margin: 0 0; } }
