<?xml version="1.0"?>
<configuration>
  <system.webServer>
   <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="Content-Security-Policy" value="default-src 'self' #{REACT_APP_MIDDLETIER_URL}# #{REACT_APP_GATEWAY_URL}# https://dc.services.visualstudio.com https://*.microsoftonline.com; style-src 'self' https://*.googleapis.com 'unsafe-inline'; script-src 'self' https://*.microsoftonline.com/ 'unsafe-eval' 'unsafe-inline' data:; img-src 'self' https:; font-src 'self' https: data:;" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>