.subcontractor_form{
    .low {
        .row{
            &:last-child {
                .forms_wrap {
                    background-color: red;
                }
            }
        }
    }
} 

.forms_wrap {
    background: map-get($colors , whiteColor );
    @include boxShadow(0px 0px 13px rgba(76, 76, 76, 0.1));
    padding: 20px 25px 25px;
    position: relative;
    @include borderRadius(5px);
    margin-bottom: 25px;
    .delete_text {
        position: absolute;
        right: 25px;
        font-weight: 600;
        color: map-get($colors , grey002 );
        font-size: 14px;
        letter-spacing: 0.5px;
        cursor: pointer;
        svg {
            margin-left: 10px;
            font-size: 16px;
        }
    }
}

/*QUOTES*/
.card_outer_wrap {
    &.quote_wrap {
        margin-top: 5px;
        .card_wrap {
            box-shadow: none;
            background: map-get($colors , grey003 );
            padding: 25px 25px 0 25px;
            margin: 0;
            @include mdScreen {
                margin: 5px 0;
            }
        }
        .card {
            background: transparent;
            text-align: left;
            padding: 0;
            .title {
                font-size: 13px;
                font-weight: 900;
                color: map-get($colors , darkBlack );
                position: relative;
                padding-bottom: 15px;
                margin-bottom: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: map-get($colors , grey001 );
                    bottom: 0;
                }                
            }            
        }
        label {
            font-size: 13px;
            color: map-get($colors , grey004 );
        }
    }
}

.newActiv_btn {
    text-align: right;
    margin: 15px 0 40px 0;
    position: relative;
    button {
        margin-right: 0;
    }
    svg {
        margin-right: 10px;
        font-size: 20px;
        vertical-align: middle;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        background: map-get($colors , grey001 );
        width: 100%;
        height: 1px;
        bottom: -40px;
}
}
