$colors:( whiteColor:#ffffff,
 lightenBgColor:#fbfaf8,
  grey01:#272728, 
  grey02:#393939,
   grey03:#526061,
   grey04:#f4f6fb,
    grey05:#e8ecf3,
     grey06:#cad0d8,
     grey07:#171c1b,
      grey08:#eaeef5,
       grey09:#b1b9bc,
        grey10:#667374,
        grey12:#bbc3c5,
         darkGreen: #006a4d,
          darkGreen02: #00513b,
           red:#e13e3e,
            lightGreen:#6dd400, 
            lightGreen02:#4cbe7f,
            lightGreen03: #41ba77,
            Green03:#cef2a3,
             black: #000000,
grey11: #fbfcff,
/*coil colors*/ grey001:#dfdfdf,
                darkBlack:#231F20,
                grey002:#818A8F,
                grey003:#f5f6fb,
                grey004:#333333,
                grey005:#c2c2c1,
                orange: #f58220
)